<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pay pal node App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>input Transaction here<h1>
    <form action="/pay" method="post">
        <input type="submit" value="buy">
    </form>
    </body>
</html>